html,
body {
  margin: 0px;
  height: 100%;
}

#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}

#contentBox {
  width: 100%;
  height: 100%;
  grid-area: content;
  border: 3px solid black;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
  font-family: Helvetica, sans-serif;
}

.footer {
  grid-area: footer;
}

.sideBarItem {
  max-height: 2.5rem;
  max-width: 2.5rem;
  padding: 5px;
}

.sideBarItem img {
  max-height: 2.5rem;
  max-width: 2.5rem;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.colourBox {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.options {
  grid-area: options;
  padding: 15px;
}

.colourSwatches {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  color: white;
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px darkred, 0 0 30px darkred,
    0 0 40px black;
  box-sizing: border-box;
  width: 50px;
  height: 50px;

  margin: 5px;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100px 230px minmax(500px, 1fr);
  grid-template-rows: 30px minmax(500px, 1fr) 160px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "colourP colourP options";
  background-color: #fff;
  color: #444;
}
.toolbox {
  /* background-color: red; */
  width: auto;
  height: auto;
}

/* default: nothing highlighted */
.sideBarItem,
.link {
  border: 0;
}

/* selected tool highlight */
.tool-selected {
  border: 2px solid blue !important;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
}

.dropdown {
  position: relative;
}

.link {
  background: white;
  text-decoration: none;
  color: red;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown > .link:focus,
.link:hover {
  color: black;
}

.dropdown {
  font-size: 1rem;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-item {
  padding: 6px 10px;
  color: black;
  cursor: pointer;
  display: block;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.144);
}

#freehandToolContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

#freehandIcon {
  width: 40px;
  height: 40px;
}

#freehandSlider {
  transform: rotate(270deg);
  width: 100px;
}

/*TABS*/
#tabsContainer {
  display: flex;
}

button:hover {
  transform: scale(1.1);
  background: #bebcbc;
  transition: background 350ms ease;
  transition: transform 90ms ease-in-out;
}
